/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: verdana,sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
		margin-bottom: 10px;
		margin-top:0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	/*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}
.btn-default {
		background-color: #f7d117;
		color: #333;
}
.btn-default:hover, .btn-default:focus {
		background-color: #f7d117;
		color: #333;

}

label.error {
	color: #a94442;
	font-style: italic;
	padding-left: 5px;
	 font-weight: normal;
}
textarea.error,input.error{
	border-color: #a94442;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.panel-primary {
		border-color: #808285;
}
.panel-primary > .panel-heading {
		background-color: #808285;
		border-color: #808285;
		color: #fff;
}
#notification{
	text-align: left;
}
#notification .error{
	color: #f4645f;
}
/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

#programme label {
	margin-top: 0px;
	margin-bottom: 0px;
}
#speakers p {
	padding-top: 10px;
	padding-bottom: 15px;
}
#speakers label {
	margin-bottom: 2px;
}
.media-body h4 {
	font-size: 17px;
}
/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */

}

/* hack */
.page-header {
	margin: 10px 0 20px;
	border-bottom: 0px;
	/*background-image: url("../images/background.jpg");
	height: 240px;*/
}
.footer-menu{
	padding-top:10px ; margin-bottom:10px ;border-top: 1px solid #e5e5e5;
}

#programme table tr td:first-child { width: 10em; text-align: center; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #f7d117;
	color: #333;

}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #f7d117;
	color: #333;
};

@media (max-width: 468px) {
  .btn-responsive {
    /*padding:2px 4px;
    font-size:80%;
    line-height: 1;*/
  }
}

@media (max-width: 560px) {
	.btn-responsive {
	    display: block;
	    width: 100%;
	}
}
